.searchBoxWrap {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fcfcfc;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  margin-bottom: 24px;
}

.searchText {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  color: #2e2f42;
}

.searchInput {
  padding: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(46, 47, 66, 0.8);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchInput:focus,
.searchInput:hover {
  border-color: #4d5ae5;
}

@media (min-width: 768px) {
  .searchBoxWrap {
    max-width: 500px;
  }

  .searchInput {
    padding: 14px;
  }
}

@media (min-width: 1158px) {
  .searchBoxWrap {
    max-width: 600px;
  }

  .searchInput {
    padding: 16px;
  }
}
